<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-bottom: 0px;">
  <a class="navbar-brand" href="#" style="padding-bottom: 0px;">
    <!-- <i class="fas fa-paw fa-2x"></i>&nbsp; -->
    <div style="display: flex; align-items: center;">
      <img src="../../../assets/doglogo.png" alt="" style="height: 60px; width: 80px;">
      <h2 style="margin-bottom: 0px; margin-left: 20px;">K9 Crown</h2>
    </div>

  </a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

    </ul>
    <h3 class="navbar-text">
      Contact Us: &nbsp; (801)-884-7446
    </h3>
  </div>
</nav>
<ng-content></ng-content>
